.camera {
    width: 320px;
    min-height: 240px;
    float: left;
    margin: 0 20px 25px 0;
    border: 1px solid #aaa;
}

.incoming {
    clear: both;
    padding-top: 0.7em;
    border-top: 0.1em solid #ccc;
}

.incoming h2 {
    margin: 0 0 0.3em 0;
}

.photo {
	display: inline-block; 
	margin: 1em; 
	width: 200px; 
	height: 150px; 
	border: 1px solid #ccc;
}

.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
}


.center {
    text-align: center
}

.arial {
    font-family: arial
}

.file_input {
    display: block; 
    margin: auto; 
    width: 75px;
    margin-bottom: 10px;
}

.photo_to_send {
    /*width: 200px; 
    height: 150px; */
    border: 10px solid blue; 
    text-align: center; 
    margin: auto; 
    display: block; 
    margin-top:25px;
    margin-bottom:25px;
}

.send {
    margin: auto;
    display: block;
    margin-bottom: 25px;
}




